<template>
	<div class="pure-g">
		<div class="pure-u-1">
			<form class="pure-form pure-form-stacked" role="form" submit.delegate="submit(replyTo)" validate.bind="validation">
				<fieldset>
					<textarea value.bind="postText" placeholder="Post" focus.bind="hasFocus" keyup.delegate="keyUp($event)" keydown.delegate="keyDown($event)"
					class="form-control pure-input-1" rows="5"></textarea>
					<ul class="mention-search" if.bind="mentionSearch">
						<li repeat.for="mention of matchedMentions">
							<span data-mention-name="mention.name" itemprop="mention">@${mention.name}</span></li>
					</ul>
					<span>${postLength} / 256 characters</span>
					<button type="button" class="pure-button" click.delegate="preview(replyTo)" disabled.bind="!validation.result.isValid">Preview</button>
					<button type="submit" class="pure-button pure-button-primary" disabled.bind="!validation.result.isValid">Post</button>
				</fieldset>
			</form>
		</div>
		<div class="pure-u-1">
			<p if.bind="showPostPreview" class="post-details showMe" innerHTML.one-way="postPreview.html"></p>
			<h2 if.bind="showLastPost">Last Post</h2>
			<p if.bind="showLastPost" class="post-details showMe" innerHTML.one-way="lastPost.html"></p>
		</div>
	</div>
</template>