<template>
	<require from='resources/take'></require>
	<require from='resources/sort'></require>
	<require from='resources/reduce-object'></require>
	<require from='resources/property-frequency'></require>
	<p><strong>Top Hashtags</strong> <span repeat.for="hashtag of posts | reduceObject:'entities':'hashtags' | propertyFrequency:'name' | sort: { propertyName: 'count', direction: 'descending' } | take:5"> <a href="http://alpha.app.net/hashtags/${hashtag.name}">#${hashtag.name}</a>(<strong>${hashtag.count}</strong>)${$index<4 ? ', ': ''}</span>.</p>
</template>