<template>
  <require from='../resources/auth-filter'></require>
  <header>
    <nav id="main-nav" class="pure-menu pure-menu-horizontal pure-menu-fixed pure-menu-scrollable" role="navigation">
      <ul class="pure-menu-list">
        <li class="pure-menu-item menu-profile">
          <a if.bind="state.tokenReturned" class="pure-menu-link" href="/profile/user/${state.tokenReturned.user.id}">
      			<img src.bind="state.tokenReturned.user.avatar_image.url" />
          </a>
          <a if.bind="!state.tokenReturned" class="pure-menu-link pure-menu-heading" href="/">
            <span class="fa-stack fa-lg fa-fw">
              <i class="fa fa-adn fa-stack-2x"></i>
            </span>
            <span> ${router.title}</span></a>
        </li>
        <li if.bind="isLoggedIn" class="pure-menu-item">
          <a class="pure-menu-link" href="#" click.delegate="showNewPost()">
            <span class="fa-stack fa-lg fa-fw">
              <i class="fa fa-edit fa-stack-2x"></i>
            </span>
            <span> New Post</span></a>
        </li>
        <template repeat.for="row of router.navigation | authFilter:isLoggedIn" containerless>
          <li if.bind="row.settings.group && row.settings.groupStart" class="pure-menu-item">
            <a class="pure-menu-link" href="#" click.delegate="$parent.showExplore()">
            <span if.bind="row.settings.iconBack" class="fa-stack fa-lg fa-fw">
              <i class="fa fa-${row.settings.iconBack} fa-stack-2x ${$parent.toggleExplore? 'fa-inverse': ''}"></i>
              <i if.bind="$parent.toggleExplore" class="fa fa-times fa-stack-1x"></i>
            </span>
            <span> Explore</span>
          </a>
          </li>
          <li if.bind="(row.settings.group === $parent.toggleExplore) || (!row.settings.group ===  !$parent.toggleExplore)" class="pure-menu-item ${row.isActive ? 'pure-menu-selected' : ''}">
            <a class="pure-menu-link" href.bind="row.href">
            <span if.bind="row.settings.iconBack" class="fa-stack fa-lg fa-fw">
              <i class="fa fa-${row.settings.iconBack} fa-stack-2x fa-inverse"></i>
              <strong class="fa-stack-1x" if.bind="row.settings.text">${row.settings.text}</strong>
              <i if.bind="row.settings.icon" class="fa fa-${row.settings.icon} fa-stack-1x"></i>
            </span>
            <span if.bind="row.settings.icon && !row.settings.iconBack" class="fa-stack fa-lg fa-fw">
              <i class='fa fa-2x fa-${row.settings.icon}'></i>
            </span>
            <span if.bind="row.settings.text" class="fa-stack fa-lg fa-fw">
              <strong class="fa-stack-2x" if.bind="row.settings.text">${row.settings.text}</strong>
            </span>
            <span> ${row.title}</span>
          </a>
          </li>
        </template>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#" click.delegate="LogInOut()">${LogInOutText}</a>
        </li>
      </ul>
    </nav>
  </header>
</template>