<template>
	<require from='../../post-form/post-form'></require>
	<require from='./annotation-images'></require>
	<p innerHTML.one-way="post.html " click.delegate="postclicks.handler($event) "></p>
	<div class="pure-g post-footer">
		<div class="pure-u-1-2">
			<p>
				<a if.bind="post.reply_to" href="http://treeview.us/home/thread/${post.id} " title="Open in TreeView" target="_blank "><i class="fa fa-tree "></i></a>
				<i class="clickable fa ${post.you_starred? 'fa-star actioned' : 'fa-star-o'}" click.delegate="toggleStar(post)"></i>
				<i if.bind="post.user.id !== user_id" class="clickable fa fa-retweet ${post.you_reposted? 'actioned' : ''}" click.delegate="toggleRepost(post)"></i>
				<i class="clickable fa fa-reply" click.delegate="reply(post)"></i>
			</p>
		</div>
		<div class="pure-u-1-2">
			<p class="post-time">${post.created_at | timeAgo}</p>
		</div>
	</div>
	<div class="post-images">
		<annotation-images annotations.bind="post.annotations"></annotation-images>
	</div>
	<post-form if.bind="toggleReply" post.bind="post"></post-form>

</template>