<template>
	<require from="../../resources/action"></require>
	<require from='../refresh-indicator'></require>
	<require from='../get-more'></require>
	<refresh-indicator></refresh-indicator>	
	<div id="posts" class="posts">
		<div repeat.for="interaction of interactions" class="pure-g post">	
			<div class="pure-u-1-5">
				<img id="profilePicture" src.bind="interaction.users[0].avatar_image.url" class="pure-img" />
			</div>
			<div class="post-details pure-u-4-5 showMe">
				<p>${interaction.users[0].name}
					<a href="#" click.delegate="$parent.profileRoute.openProfile(interaction.users[0].id)">@${interaction.users[0].username}</a>
				</p>
				<p>${interaction.action | action}</p>
				<div class="pure-g post-footer">
					<div class="pure-u-1-2"></div>
					<div class="pure-u-1-2">
						<p class="post-time">${interaction.event_date | timeAgo}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<get-more></get-more>	
</template>