$link-color: #4183c4;
$nav-color: #7ba9d6;
$nav-background: #343434;
$main-nav-background: #414A4C;
$content-color: #343434;
$content-accent: #FFA343;
$content-main: #FFE4C4;
$content-background: #FFFAF3;
$content-dark-background: #FFDEAD;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}