#main-nav {
  background: $main-nav-background;
}

.pure-menu-header {
  color: #fff;
}
.pure-menu-link,
.pure-menu-link:visited {
  color: $nav-color;
}

.pure-menu-link:hover {
  color: #fff;
  background: $nav-background;  
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

#main-nav .pure-menu-selected .pure-menu-link {
  color: #fff;
  background: $nav-background;  
}

.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0;
}

.pure-menu-link i + span {
  display: none;
}
.pure-menu-link:hover i + span {
  display: inline;
}