#main-nav {
  background: $main-nav-background;
}

.pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:visited {
  color: $nav-color;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.pure-menu-selected .pure-menu-link.hvr-sweep-to-bottom {
  color: #fff;
  background: $nav-background;  
}
.pure-menu-link.hvr-sweep-to-bottom:before,
.pure-menu-header.hvr-sweep-to-bottom:before {
  background: $nav-background;  
}

.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0;
}