#main-nav {
  background: $main-nav-background;
  .pure-menu-link:hover {
    color: #fff;
    background: $nav-background;  
    .fa-inverse {
      color: lighten($nav-background, 10%);  
    }
  }
  .fa-inverse {
    color: $nav-background;  
  }
  .pure-menu-selected .pure-menu-link {
    color: #fff;
    background: $nav-background;  
    .fa-inverse {
      color: lighten($nav-background, 10%);  
    }
  }
  .pure-menu-link,
  .pure-menu-disabled,
  .pure-menu-heading {
    padding: .25em 0 .25em .25em;
  }
}

.pure-menu-header {
  color: #fff;
}
.pure-menu-link,
.pure-menu-link:visited {
  color: $nav-color;
  background: $main-nav-background;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0;
}

.pure-menu-link span + span,
.pure-menu-link i + span {
  display: inline-block;
  width: 0;
  -webkit-transition: .5s all ease-in-out;   
  -webkit-transition-delay: 1s; 
  -moz-transition: .5s all ease-in-out;   
  -moz-transition-delay: 1s; 
  -ms-transition: .5s all ease-in-out;   
  -ms-transition-delay: 1s; 
  -o-transition: .5s all ease-in-out;   
  -o-transition-delay: 1s; 
  transition: .5s all ease-in-out;   
  transition-delay: 1s; 
  overflow:hidden;
}

.pure-menu-link:hover span + span,
.pure-menu-link:hover i + span {
  width: 7em;  
  padding-right: 0.5em;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  -transition-delay: 0s;
}