.posts {
  margin-top: 1em;
}

.content-container {
  padding: 1em;
}

.post-form,
.post {
  padding: 0 1em 0 0;
  background: $content-background;
  border-radius: 2em;
  width: calc(100% - 10px);
  margin-bottom: 10px; 
	perspective: 1000;
	transform-style: preserve-3d;
}

.post-form {
  margin-top: 2em;
  padding: 0 1em 0 1em;
}

@media screen and (min-width: 35.5em) {
  .post {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 64em) {
  .post {
    width: calc(33.333% - 10px);
  }
}
.post:hover {
  background:white;
}
.post .clickable {
  opacity: 0.8;
}

.post:hover .clickable {
  opacity: 1;
}

.actioned {
  color: #e3cf7a;
}

.post-replying {
  z-index: 1000;
  border: 1px #343434 solid;
}

.post-unread {
  border: 1px #00B2B2 solid;
}

.post-details {
  padding: 0 0 0 1em;
  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  
  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;  
	transition: opacity 1s ease-out;
  display: none;
  &.showMe {
    display: block;
     -webkit-animation: showNav 500ms ease-in-out both;
     -animation: showNav 500ms ease-in-out both;
  }
}

.post-images img {
  padding: 0 0 1em 0;
  width: calc(25% - 1px);
  display: inline-block;
  margin-left: 1px;
}

.post-footer p {
  margin-top: 0;
}
.post-time {
  text-align: right;
  color: #A6A6A6;
  font-size: 0.8em;
}

.mention-search {
  padding: 0;
  li:first-child {
    font-weight: bold;
  }
  li {
    display: inline;
    color: #A6A6A6;
    margin-right: 0.5em;
  }
}