.splash-text {
  font-size: 4em;
  color: $content-color;
  @media screen and (max-width: 35.5em) {
    font-size: 3em;
  }  
}

.splash {
  color: $content-main;
  text-align: center;
  margin: 10% 0 0 0;
  .message {
    @extend .splash-text;
  }
  .fa-spinner {
    @extend .splash-text;
    display: inline-block;
  }
}