.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $content-main;
  text-align: center;
  background: $nav-background;
  .header-title {
    margin: 5em auto 0 auto;
    text-align: center;
    color: $content-color;
    background: $content-accent;
    padding: 1em;
    border-radius: 2em;
    opacity: 0.9;
    max-width: 18em;
    font-size: 130%;
    h1 {
      margin: 0;
    }
  }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 5000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: 'pulse_animation';
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}