.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $content-main;
  text-align: center;
  background: $nav-background;
  .header-title {
    margin: 5em auto 0 auto;
    text-align: center;
    color: $content-color;
    background: $content-accent;
    padding: 1em;
    border-radius: 2em;
    opacity: 0.9;
    max-width: 18em;
    font-size: 130%;
    h1 {
      margin: 0;
    }
  }
}