body {
  margin: 0;
  background-color: $content-main;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}