@import 'pure-min';
@import 'grids-responsive-min';
@import 'config';
@import 'typography';
@import 'splash';
@import 'main-nav';

/* General Styling */
[itemprop='mention'],
[itemprop='hashtag'],
a,
a:hover,
a:visited {
  text-decoration: none;
  color: $link-color;
}

[itemprop='mention']:hover,
[itemprop='hashtag']:hover {
  cursor: pointer;  
}

.pictureDetail {
  max-width: 425px;
}

@import 'modal';
@import 'map';

.close {
	background: #343434;
	color: $content-background;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
  font-size: 1.2em;
  border: 1px #FFE4C4 solid;
}
a.close {
  	color: #FFFAF3;
}

.selector-container {
  background-color: $content-main;
  background-image: url(../styles/kyoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;

  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 45%;
  top: 0;
  left: 0;
  position: fixed !important;
  border-radius: 3em;
  form {
    color: $content-color;
    background: $content-accent;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 2em;
    opacity: 0.9;
    max-width: 28em;
    margin: 0 auto;
    font-size: 130%;
  }
}

.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 48%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: $content-dark-background;
  -webkit-transform: translate3d(0,0,0);
}

.main-content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 8%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  padding: 0 1em;
}

.content {
  padding: 1em;
  background: $content-main;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 1em;
}

.content-subhead i {
  margin-right: 7px;
}

.content-head-ribbon {
  color: $content-color;
}

.ribbon {
  background: $content-accent;
  color: $content-color;
}

.l-box { padding: 1em; }
.l-box-lrg { padding: 1em; }
.is-center { text-align: center; }
.is-right { text-align: right; }
.floatme { float: right; }
@import 'profile';

.clickable {
  cursor: pointer;
  color: #A6A6A6;
  &:hover {
    color: #343434;
  }
}

@import 'stats';
@import 'posts';

/* Footer */
.footer {
  background: #343434;
  color: #A6A6A6;
}

@media screen and (max-width: 35.5em) {
     
  .about {
    padding-left: 0.5em;
    padding-right: 0.5em;      
  }
  
  .about p {
    padding: 0.5em;
  }
    
  .selector form {
    padding: 1em;
  }
}

@import 'animations';