body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

.about-header h2 {
  background-color:mediumpurple; 
  margin-bottom: 0;
  border-radius: 2em 2em 0 0;
  padding: 0.25em 1em;
}

.about {
  background:#fff;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 0 0 2em 2em;
  opacity: 0.8;
  margin: 0 0 1em 0;
 }

.about p {
  margin-top: 0;
  max-width: 38em;
}

#profilePicture {
  box-sizing: border-box;
  border-radius: 50%;
  border: #00B2B2 0.25em solid;
  float: right;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  background: transparent;
}

#profilePicture:hover {
  cursor: pointer;
}

#profilePicture.clean,
#banner.clean {
  border-radius: 0;
} 
  
#profileDetails.clean {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
  
#banner {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 350px;
  width: 100%;
  border-radius: 3em 3em 3em 3em;
  border: #00B2B2 0.25em solid;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}

#profileDetails {
  margin: 0em;
}

#profileDetails h2 {
  background-color:aqua;
  padding: 0.25em 1em;
  margin: 0;
  border-radius: 1.5em 1.5em 0 0;
}
  
#profileDetails p {
  background:#fff;
  padding: 1em 1.5em 1.5em 1.5em;
  margin-top: 0;
  border-radius: 0 0 2em 0;
  opacity: 0.8;
  margin-bottom: 0;
  max-height: 200px;
  overflow-y: scroll;    
}

#profileDetails ul li a {
  background: #E6FFFF;
  border-radius: 0 0 1em 1em;
  opacity: 0.8;
  cursor: pointer;
}

#profileDetails ul li a:hover {
  opacity: 1;
}

.stats-header h2 {
  background-color:burlywood; 
  margin-bottom: 0;
  border-radius: 2em 2em 0 0;
  padding: 0.25em 1em;
}

.stats {
  background:#fff;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 0 0 2em 2em;
  opacity: 0.8;
  margin: 0 0 1em 0;
}
 
.stats p {
  margin-top: 0;
}

#un {
  width: 12em;
  background: rgba(255,255,255,0.8);
  border-width: 0;
  border-radius: 0.25em;
  padding-left: 0.25em;
}

.mention {
  background: #fff;
  margin-right: 0.25em;
}
  
@media screen and (max-width: 35.5em) {
    
  section.au-animate {
    margin: 0;
  }    
  #profileDetails {
    padding-left: 0;
    padding-right: 0;
  }
  .stats,
  .about {
    padding-left: 0.5em;
    padding-right: 0.5em;      
  }
  #profileDetails p,
  .about p {
    padding: 0.5em;
  }
  .pure-menu-link {
    padding: 0.25em 0.5em;
  }    
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}