body { background-color: #FFE4C4; }
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.splash {
  color: #FFE4C4;
}

#main-nav {
  background: #414A4C;
}